
.glossary-body
{
  max-width: 700;
  margin: 130px auto 0 !important;
  float: none !important;
  text-align: justify;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  text-align: justify;
}

dd + dt { /*comment*/
    margin-top: 1em;
}
