

.main-header .navbar {
  margin: 0 !important;
  font-size: 18px !important;
}

/* #wwvt-home {
  margin-left: 1rem;
  align-self: center;
  color: #fefefe;
  font-size: 1.35rem;
} */


.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after, .btn-toolbar:before,
.clearfix:after, .clearfix:before
.container-fluid:after
.container-fluid:before
.container:after
.container:before
.dl-horizontal dd:after
.dl-horizontal dd:before
.form-horizontal .form-group:after
.form-horizontal .form-group:before
.modal-footer:after
.modal-footer:before
.modal-header:after
.modal-header:before
.nav:after
.nav:before
.navbar-collapse:after
.navbar-collapse:before
.navbar-header:after
.navbar-header:before
.navbar:after
.navbar:before
.pager:after
.pager:before
.panel-body:after
.panel-body:before
.row:after
.row:before
{
    content: unset !important;
}

#wwvt-home {
  margin-left: 1rem !important;
  align-self: center !important;
  color: #fefefe !important;
  font-size: 1.35rem !important;
}



#wwvt-home:hover {
  color: #ccc !important;
  text-decoration: none !important;
}

.nav-over-flow{
  background-color: #343a40!important
}


@media only screen and (min-width:769px) {
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position: relative !important;
}

.dropdown-submenu>.dropdown-menu {
    top: 0 !important;
    left: 100% !important;
    margin-top: -6px !important;
    margin-left: -1px !important;
    border-radius: 0 !important;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block !important;
}

.dropdown-submenu>a:after {
    display: block;
    content: "\f105";
    font-family: 'FontAwesome';
    margin-top: -18px;
    right: 15px;
    position: absolute;
    font-weight: 300;
}
}


.wwp-text {
  margin-top: 130px !important;
  font-size: 18px !important;
  font-family: 'Raleway', sans-serif !important;
  text-align: justify !important;
}
